@use "base/variables" as v;

*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

body {
  min-height: 100%;
  background-color: v.$fondo;
  color: v.$blanco;
  display: flex;
  flex-direction: column;
  font-family: v.$fuente_textos;
  font-size: 1.6rem;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: v.$blanco;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}
