@use "base/variables" as v;

@mixin telefono {
  @media (min-width: v.$telefono) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: v.$desktop) {
    @content;
  }
}

@mixin contenedor-md {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

@mixin contenedor-sm {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2rem;
}

@mixin boton($bgColor, $colorTexto) {
  background-color: $bgColor;
  padding: 1rem 2rem;
  color: $colorTexto;
  font-size: 2rem;
  font-weight: 400;
  display: inline-block;
  border: none;
  font-family: v.$fuente_textos;
  border-radius: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition-property: background-color;
  transition-duration: 0.3s;
  text-align: center;
  display: block;
  width: 100%;

  @include tablet {
    width: auto;
  }

  &:hover {
    background-color: darken($bgColor, 10%);
    cursor: pointer;
  }
}

@mixin grid($columnas, $espaciado) {
  display: grid;
  gap: $espaciado;
  grid-template-columns: repeat($columnas, 1fr);
}

@mixin sombra-inset($color) {
  &:hover {
    box-shadow: 0px -15px 28px -3px rgba($color, 0.74) inset;
    -webkit-box-shadow: 0px -15px 28px -3px rgba($color, 0.74) inset;
    -moz-box-shadow: 0px -15px 28px -3px rgba($color, 0.74) inset;
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
  }

  &:not(:hover) {
    transition: all 0.3s ease-in-out;
    transform: scale(1);
  }
}

@mixin sombra-inset-phone($color) {
  box-shadow: 0px -15px 28px -3px rgba($color, 0.74) inset;
  -webkit-box-shadow: 0px -15px 28px -3px rgba($color, 0.74) inset;
  -moz-box-shadow: 0px -15px 28px -3px rgba($color, 0.74) inset;
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
}
