@use "base/variables" as v;
@use "base/mixins" as m;

.proyecto--resumen {
  &-titulo {
    font-family: v.$fuente_subtitulos;
    font-size: 4rem;
  }

  &-texto {
    font-family: v.$fuente_textos;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    text-align: justify;
    color: v.$blanco;
  }

  &-tech {
    margin-bottom: 2rem;
    @include m.tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
  }

  &-icon {
    margin-right: 1rem;
    font-size: 2rem;
  }

  &-boton {
    padding: 1rem 3rem;
    border-radius: 1rem;
    color: v.$blanco;
    text-align: center;
    margin-right: 1rem;
    @include m.sombra-inset-phone(v.$morado);

    &-wrap {
      display: flex;
      justify-content: center;
    }

    & > div {
      margin: 0;
    }

    @include m.tablet {
      box-shadow: unset;
      -webkit-box-shadow: unset;
      -moz-box-shadow: unset;
      @include m.sombra-inset(v.$morado);
    }
  }
}

.proyecto--resumen-boton--enlace {
  @include m.sombra-inset-phone(v.$terciaro);

  @include m.tablet {
    box-shadow: unset;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    @include m.sombra-inset(v.$terciaro);
  }
}
