@use "base/variables" as v;
@use "base/mixins" as m;

.proyecto--resumen {
  &-titulo {
    font-family: v.$fuente_subtitulos;
    font-size: 4rem;
  }

  &-texto {
    font-family: v.$fuente_textos;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    text-align: justify;
    color: v.$blanco;
  }

  &-tech {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-icons {
    display: flex;
    flex-direction: row;
  }

  &-icon {
    margin-right: 1rem;
    font-size: 2rem;
  }

  &-boton {
    padding: 1rem 3rem;
    border-radius: 1rem;
    color: v.$blanco;
    text-align: center;
    margin-right: 1rem;

    & > div {
      margin: 0;
    }

    &:hover {
      // background-color: v.$secundario;
      box-shadow: 0px -15px 28px -3px rgba(190, 107, 255, 0.74) inset;
      -webkit-box-shadow: 0px -15px 28px -3px rgba(190, 107, 255, 0.74) inset;
      -moz-box-shadow: 0px -15px 28px -3px rgba(190, 107, 255, 0.74) inset;
      transition: all 0.3s ease-in-out;
      transform: scale(1.05);
    }

    &:not(:hover) {
      transition: all 0.3s ease-in-out;
      transform: scale(1);
    }
  }
}
