@use "base/variables" as v;
@use "base/mixins" as m;

.banner {
  flex-direction: column;
  padding: 1rem 0;
  gap: 3rem;

  @include m.tablet {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 2rem 0;
  }

  &--texto {
    &-bienvenida {
      font-family: v.$fuente_subtitulos;
      margin-bottom: 0.7rem;
      font-weight: 400;
      display: inline-block;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      border-right: 2px solid v.$secundario;
      width: 0;
      animation: typing 2.5s steps(16, end) forwards,
        cursor-blink 0.7s step-end infinite, pause 1s 2.5s forwards,
        erasing 2s steps(16, end) 3.5s forwards, loop 5.5s infinite 3.5s;
    }

    &-nombre {
      font-family: v.$fuente_titulos;
      font-size: 4rem;
      font-weight: bold;
      margin: 0;
      margin-bottom: 1.2rem;
    }

    &-carrera {
      color: v.$primario;
      font-weight: 900;
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
  }

  &--iconos {
    justify-content: center;

    @include m.tablet {
      justify-content: start;
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  &--icono {
    font-size: 2rem;
    color: v.$blanco;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: v.$secundario;
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  &--img {
    max-width: 30rem;
    @include m.tablet {
      width: 100%;
      max-width: 40rem;
    }
  }

  &--texto-email {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;

    &--boton {
      border-radius: 1.1rem 0 0 1.1rem;
      padding: 0.7rem;
      &:hover {
        background-color: v.$blanco;
        color: v.$fondo;
        cursor: pointer;
        transition: background-color 0.5s ease-in;
        transition: color 0.5s ease-in-out;
      }

      &:not(:hover) {
        transition: background-color 0.5s ease-in;
        transition: color 0.5s ease-in-out;
      }
    }

    &--boton,
    &--input {
      background-color: v.$fondo;
      border: 1px solid v.$blanco;
      margin-bottom: 1rem;
      color: v.$blanco;
    }
  }
}

.banner--texto-email {
  &--input {
    transition: opacity 0.3s ease, transform 0.3s ease, transform 0.3s ease,
      background-color 0.3s ease;

    @include m.telefono {
      font-size: 1.3rem;
      padding: 1.2rem;
    }

    @include m.tablet {
      padding: 1.15rem;
    }

    @include m.desktop {
      font-size: 2rem;
      padding: 0.75rem;
    }
    border-radius: 0 1.1rem 1.1rem 0;
    width: 100%;
    font-weight: 400;
    background-color: v.$fondo;
    border: 1px solid v.$blanco;
    margin-bottom: 1rem;
    color: v.$blanco;
    text-align: center;

    &:focus {
      outline: none;
      border-color: v.$secundario;
      box-shadow: 0 0 5px v.$secundario;
      transition: all 0.3s ease-in-out;
    }

    &.email--fade-out {
      opacity: 0;
      transform: translateY(-1rem);
    }

    &.email--fade-in {
      opacity: 1;
      transform: translateY(0);
    }

    &.email--copiado {
      background-color: v.$primario;
      color: v.$blanco;
      transition: all 0.3s ease-in-out;
    }
  }
}

.btn-copiado {
  animation: pulse 0.5s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes erasing {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes cursor-blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: v.$primario;
  }
}

@keyframes pause {
  from,
  to {
    width: 100%;
  }
}

@keyframes loop {
  0% {
    width: 0;
  }
  45% {
    width: 100%;
  }
  55% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
